Django==1.4.1
MySQL-python==1.2.4b5
South==0.7.6
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.12
django-chartit==0.1
django-registration==0.8
django-registration-defaults==0.3
kombu==2.5.4
pygeoip==0.2.5
python-dateutil==1.5
wsgiref==0.1.2
django-celery==3.0.9
